#add-room-popup #add-btn {
    float: right;
    margin: 1em 2em;
    font-size: 1.2rem;
    font-family: "Roboto";
    font-weight: 100;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.401);
    padding: 0.4em 2em;
    cursor: pointer;
}

#add-room-popup .input {
    height: 2em;
    margin: 1em 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#add-room-popup .input label {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0 2em 0 0;
}

#add-room-popup .input input#room-name {
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.401);
    font-size: 1.2rem;
    height: 1.75em;
}

#add-room-popup .input input#is-bathroom-checkbox {
    height: 1.75em;
    width: 1.75em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.401);
    border: none;
}