#manage-users-view {
    display: flex;
    justify-content: center;
}

#manage-users-view #users-list {
    width: 75%;
    margin: 2em 0 2em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    border-radius: 10px;
}

#manage-users-view #users-list #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding: 0 2em;
    height: 4em;
}

#manage-users-view #users-list #header h1 {
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 100;
}

#manage-users-view #users-list #header button {
    margin: 0 0.25em;
    font-family: "Roboto";
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 0.25em 0.75em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
}

#manage-users-view #users-list #header button:hover {
    filter: brightness(90%);
}

#manage-users-view #users-list #header #search {
    font-size: 1rem;
    height: 2em;
    border-radius: 10px;
    border: none;
    padding: 0em 0;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    margin: 0 0.5em 0 0;
}

#manage-users-view #users-list #users {
    list-style: none;
    padding: 0;
    margin: 0;
}

#manage-users-view #users-list #users .divider {
    width: 100%;
    height: 1px;
}

#manage-users-view #users-list #users li:last-of-type {
    border-radius: 0 0 10px 10px;
    border-bottom: none !important;
}

#manage-users-view #users-list #users li {
    display: none;
    width: 100%;
    height: 3.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#manage-users-view #users-list #users li:first-of-type {
    border-top: none !important;
}

#manage-users-view #users-list #users li h1 {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 1.25rem;
    margin: 0 0 0 1.5em;
}

#manage-users-view #users-list #users li * {
    width: 33%;
}

#manage-users-view #users-list #users li .user-type {
    text-align: center;
}

#manage-users-view #users-list #users li .icons {
    display: flex;
    justify-content: flex-end;
}

#manage-users-view #users-list #users li .icons .icon {
    font-size: 1.2rem;
    cursor: pointer;
}

#manage-users-view #users-list #users li .icons .icon:hover {
    opacity: 50%;
}