#manage-users-view {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Control Panel */
#manage-users-view .control-panel #add-user-btn {
    font-family: sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0.5em 1.75em;
    border: none;
    background-color: #28a746c5;
    color: #ffffff;
    margin: 0 1em 0 0;
}

#manage-users-view .control-panel #add-user-btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
}

#manage-users-view .control-panel #add-user-btn:hover {
    cursor: pointer;
}

/* Table View */
#manage-users-view #table {
    margin: 0;
    width: 85%;
}

#manage-users-view #table table {
    width: 100%;
}

#manage-users-view #table table td {
    font-size: 1rem;
}

#manage-users-view #table .icon {
    font-size: 1.2rem;
    cursor: pointer;
}

#manage-users-view #table .icon:hover {
    opacity: 75%;
}