* {
    font-family: sans-serif;
}

.styled-table {
    text-align: center;
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.301);
    border-radius: 10px;
}

.styled-table thead tr {
    text-align: left;
}

.styled-table tbody tr {
    position: relative;
}

.styled-table .background-color:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    z-index: -1;
}

.styled-table th:first-of-type {
    border-radius: 10px 0 0 0;
}

.styled-table th:last-of-type {
    border-radius: 0 10px 0 0;
}

.styled-table th {
    text-align: center; 
    font-size: 1.2rem;
}

.styled-table th,
.styled-table td {
    padding: 20px 30px;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
}

.styled-table td {
    font-size: 1.15rem;
}

.styled-table .remove-user-btn {
    font-size: 1.5rem;   
    cursor: pointer;
}

.styled-table .remove-user-btn:hover {
    opacity: 50%;
}

input {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.301);
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 0.3em 0 0.3em 0.25em;
}