* {
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;    
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -5;
}