* {
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;    
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#content-wrapper {
    min-height: 100vh;
    width: 100vw;
}