#create-bathroom-pass-popup #bathrooms-list-wrapper {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 24em;
}

#create-bathroom-pass-popup .center-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#create-bathroom-pass-popup #search {
    font-size: 1.2rem;
    width: 18em;
    margin: 0 0 1em 0;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.401);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5em;
    height: 1.25em;
}

#create-bathroom-pass-popup ul {
    list-style: none;
    width: 100%;
    margin: 0;
}

#create-bathroom-pass-popup ul li {
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    cursor: pointer;
    font-size: 1.15rem;
    font-family: "Roboto";
    font-weight: 100;
}

#create-bathroom-pass-popup ul li:last-of-type {
    border-bottom: 1px solid grey;
}

#create-bathroom-pass-popup ul li:hover {
    filter: brightness(90%);
}