@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#student-nav {
    flex: 0 1 auto;
    min-height: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#student-nav div:first-of-type {
    justify-content: flex-start;
    padding: 0 0 0 2em;
}

#student-nav div:last-of-type {
    justify-content: flex-end;
    padding: 0 2em 0 0;
}

#student-nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#student-nav h2 {
    margin: 0;
    font-family: sans-serif;
    font-weight: 200;
}

#student-nav #settings-button, nav #current-student-count {
    margin: 0 0 0 0.75em;
}

#student-nav #change-location-button {
    margin: 0 0.75em 0 0;
}

#student-nav #current-student-count {
    font-family: sans-serif;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 1.25rem;
}

#student-nav #settings-button, #change-location-button {
    font-size: 1.5rem;
    cursor: pointer;
}

#student-nav #settings-button:hover, #change-location-button:hover {
    opacity: 50%;
}